<h1><%= @post.title %></h1>
<p><strong><%= @post.excerpt %></strong></p>
<p><%= @post.body %></p>

<p><%= link_to '&laquo; Back', posts_path(:page => session[:last_page]) %></p>


<h2 name='comments'>Comments</h2>

<div id="comment_list">
  <%= render :partial => 'comments/comment', :collection => @post.comments %>
</div>

<div id="comment_preview">
</div>

<%= render :partial => 'comments/form' %>
